html, body {
  background-color: #282C33;
  font-family: Firacode;
  font-size: 16px;
}

.wrapper {
  height: auto;
  overflow: hidden;
}

.container {
  max-width: 1150px;
  margin: auto;
  padding: 32px 61.5px 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  white-space: nowrap;
}

.logo {
  padding-right: 32px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.okto {
  color: #C778DD;
}

.navlist {
  display: flex;
  gap: 32px;
  flex-direction: row;
  justify-content: space-between;
}

.navlink:first-child {
  color: white;
  font-weight: 500;
}

.navlink {
  font-weight: 400;
  color: #ABB2BF;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navlink:hover {
  color: #C778DD;
}

.media {
  position: fixed;
  width: 32px;
  height: 311px;
  top: 0px;
  padding-left: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.medialink {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.medialink:hover {
  transform: scale(1.05)
}

.logo:hover {
  transform: scale(1.05)
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 62px 0px 0px;
}

.maintext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 18px;
}

.text1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: white;
  padding-top: 74px;
}

.text2 {
  font-weight: 400;
  line-height: 25px;
  color: #ABB2BF;
  padding-top: 32px;
  padding-bottom: 32px;
}

.text3 {
  font-weight: 500;
  color: white;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 8px 16px;
  border: 1px solid #C778DD;
}

.text3:hover {
  transform: scale(1.05);
  background: rgba(199, 120, 221, 0.2);
}

.headerimg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.headerimg-elias {}

.headerimgtextbox {
  box-sizing: border-box;

  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: #C778DD;
  border: 1px solid #C778DD;
}

.headerimgtext {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  color: #ABB2BF;
  padding-left: 8px;
  width: 402px;
  height: 37px;
  border: 1px solid #ABB2BF;
}

.clr_f {
  color: #C778DD;
}

.clr_w {
  color: white;
}

.headerimgtextlink {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.headerimgtextlink:hover {
  color: #C778DD;
}

.mainquote {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 735px;
  min-width: 200px;
  padding-top: 112px;
  margin: auto;
}

.mainquotetext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divquotetext {
  display: flex;
  max-width: 735px;
  min-width: 200px;
  min-height: 95px;
  border: 1px solid #ABB2BF;
  justify-content: center;
  align-items: center;


}

.divquotetexttext {
  max-width: 734;
  min-height: 35;
  display: flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
  flex: auto;
  order: 0;
}

.mainquoteimg {
  position: relative;
  top: 48px;
  right: 20px;
}

.mainquoteimg1 {
  position: relative;
  bottom: 45px;
  left: 20px;
}

.mainquotetextautor {
  width: 162px;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  align-self: flex-end;
  border: 1px solid #ABB2BF;

  color: #FFFFFF;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1027px;
  min-height: 518px;
  padding-top: 74px;
}

.projectsheader {
  max-width: 1027px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.projectsline {
  width: 511px;
  height: 1px;

  margin-left: 16px;
  margin-right: 16px;
  background: #C778DD;
}

.projectsviewall {
  width: 116px;
  height: 21px;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.projectsviewall:hover {
  color: #C778DD;
  transform: scale(1.05);
}

.projectsmain {
  margin-top: 48px;
  max-width: 1027px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectobject {
  margin-right: 16px;
  height: 391px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ABB2BF;
}

.projectobject1 {
  margin-right: 16px;
  height: 428px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ABB2BF;
}

.projectobject2 {
  height: 422px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ABB2BF;
}

.projectimg {
  width: 330.58px;
  height: 201px;
}

.projecttext {
  font-weight: 400;
  font-size: 16px;
  line-height: 37px;
  margin-left: 8px;

  color: #ABB2BF;

}

.projectbuttonandname {
  width: 330.58px;
  border-top: 1px solid #ABB2BF;
}

.projectname {
  margin: 16px;
  margin-top: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}

.projectnametext {
  margin: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
}

.projectbuttons {
  display: flex;
  flex-direction: row;
}

.projectbutton {
  width: 109px;
  height: 37px;
  margin: 16px;
  margin-left: 16px;
  margin-right: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ABB2BF;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.projectbutton:hover {
  transform: scale(1.05);
  border: 1px solid #C778DD;
  background: rgba(199, 120, 221, 0.2);
}

.skills {
  display: flex;
  flex-direction: row;
  padding-top: 106px;
}

.skillstittle {
  max-width: 391px;
  height: 381px;
  margin-right: 49px
}

.skilstittletext {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.skillsline {
  width: 239px;
  height: 1px;
  margin-left: 16px;
  background: #C778DD;
}

.skillsinfo {
  width: 584px;
  height: 280px;
  display: grid;
  grid-template-columns: 178px 178px 196px;
  grid-gap: 16px;
  margin-top: 69px;
}

.skillsinfotittle {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin: 8px;
  color: #FFFFFF;
}

.skillsinfotext {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding-left: 8px;
  padding-top: 4px;
  margin-bottom: 4px;
  padding-right: 8px;
  color: #ABB2BF;
  border-top: 1px solid #ABB2BF;
}

.skillsbox {
  margin-top: 16px;
  border: 1px solid #ABB2BF;
}

.about-me {
  display: flex;
  flex-direction: row;
  padding-top: 106px;
}

.about-metittle {
  max-width: 515px;
  height: 316px;
  margin-right: 166px
}

.about-metittletext {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.about-meline {
  width: 239px;
  height: 1px;
  margin-left: 16px;
  background: #C778DD;
}

.about-meinfo {
  width: 515px;
  height: 252px;
  margin-top: 48px;
}

.top {
  padding-top: 21px;
}

.about-meinfotext {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: #ABB2BF;
}

.about-mebutton {
  width: 148px;
  height: 37px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ABB2BF;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.about-mebutton:hover {
  transform: scale(1.05);
  border: 1px solid #C778DD;
  background: rgba(199, 120, 221, 0.2);
}

.about-meimg {
  width: 339px;
  height: 507px;
}

.contacts {
  display: flex;
  flex-direction: row;
  padding-top: 112px;
  max-width: 1023px;
  min-height: 228px;
}

.contactstittle {
  max-width: 505px;
  height: 150px;
  margin-right: 311px;
}

.contactstittletext {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 12px;



}

.contactsinfo {
  margin-top: 45px;
  width: 505px;
  height: 63px;
}

.contactsinfotext {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #ABB2BF;
}

.contactslinks {
  width: 204px;
  height: 141px;
  margin-top: 87px;
  border: 1px solid #ABB2BF;
}

.contactslinktext {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 16px;

}

.contactslink {
  display: flex;
  align-items: center;
  margin-left: 16px;
  width: 200px;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
}

.contactslinkimgtext {
  margin-left: 5px;
  width: 135px;
  height: 21px;
}

.contactslink:first-child {
  margin-bottom: 8px;
}

.footer {
  max-width: 100%;
  height: 222px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 131px;
  border-top: 1px solid #ABB2BF;
}

.footerframe {
  max-width: 1025px;
  height: 158px;
  display: flex;
  flex-direction: column;
}

.footersection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 437px;
  
}

.footerinfo {
  width: 476px;
  height: 89px;
}

.footerlogo {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 272px;
  height: 31px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ABB2BF;
}

.footerinfotext {
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.footercopyright {
  max-width: 1025px;
  height: 21px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-top: 48px;
  color: #ABB2BF;
}

.footermedia {
  width: 113px;
  height: 75px;
  display: flex;
  flex-direction: column;
}

.footermediatittle {
  font-weight: 500;
font-size: 24px;
line-height: 31px;

color: #FFFFFF;
}

.footermedialogos {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  gap: 8px;
}


/* -------------------------------------------------------- */
@media (max-width:1080px) {
  .container {
    max-width: 768px;
    margin: auto;
    padding: 32px 64px 8px;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 62px 0px 0px;
  }

  .navlist {
    display: flex;
    padding-top: 32px;
    gap: 32px;
    flex-direction: row;
    justify-content: space-between;
  }

  .projects {
    padding-top: 0px;
    transform: scale(0.85);
  }

  .projectsmain {
    margin-top: 48px;
    max-width: 1023.74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projectobject {
    max-width: 331px;
    margin-bottom: 16px;
    margin-right: 0px;
  }

  .projectobject1 {
    max-width: 331px;
    margin-bottom: 16px;
    margin-right: 0px;
  }

  .projectobject2 {
    max-width: 331px;
    margin-bottom: 16px;
  }
}

@media (max-width:420px) {
  .container {
    max-width: 420px;
    margin: auto;
    padding: 32px 64px 8px;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px;
  }

  .navlist {
    display: flex;
    padding-top: 32px;
    gap: 32px;
    flex-direction: row;
    justify-content: space-between;
  }

  .headerimg {
    transform: scale(0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navlist {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 12px;
  }

  .media {
    transform: scale(0.8);
    position: fixed;
    width: 32px;
    height: 311px;
    top: -32px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    color: white;
    padding-top: 0px;
  }

  .logo {
    padding-left: 26px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .divquotetexttext {
    display: flex;
    font-weight: 500;
    font-size: 8px;
    line-height: 31px;
    color: #FFFFFF;
    flex: auto;
    order: 0;
  }

  .mainquotetextautor {
    width: 162px;
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 31px;
    align-self: flex-end;
    border: 1px solid #ABB2BF;

    color: #FFFFFF;

  }

  .projects {
    padding-top: 0px;
    transform: scale(0.75);
  }

  .projectsmain {
    margin-top: 48px;
    max-width: 1023.74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projectobject {
    max-width: 331px;
    margin-bottom: 16px;
    margin-right: 0px;
  }

  .projectobject1 {
    max-width: 331px;
    margin-bottom: 16px;
    margin-right: 0px;
  }

  .projectobject2 {
    max-width: 331px;
    margin-bottom: 16px;
  }
}